html {
    display: flex;
    background-color: #f2f2f2;
    justify-content: center;
}

.choose-title {
    color: #E0D268;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -100px;
    font-family: 'VT323', monospace;
    
}
.title1 {
    color: #83A1CD;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    padding-top: 70px;
    line-height: 60px;
}

.title2 {
    color: #CB4C4E;
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: -60px;
}

.starter-options {
    text-align: center;
    font-family: 'VT323', monospace;
}

.containers {
    background-color: #E0D268;
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50px;
}

.name {
    font-size: 40px;
    letter-spacing: 2px;
}
.pokemon-info {
    text-align: center;
    font-family: 'VT323', monospace;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 20px;
    color: black;
}
.column {
    float: left;
    width: 50%;
}
.row{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pokemon-img {
    height: 200px;
}